/* --- font --- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 1em;
}

input, textarea, input:focus, textarea:focus {
    border-radius: 15px !important;
    outline: 0;
    resize:none;
}

.container, .container-fluid {
    box-sizing: border-box;
}

/* --- header --- */

/* - title - */
.header .h2_title {
    font-weight: 800;
    font-size: 1.2em;
    border: none;
    width: 100%;
}

.header .p_title {
    color: #3f97af;
    font-weight: 500;
    font-size: .7em;
}


.div_save {
    cursor: pointer;
}

.header .div_title {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.header .div_icon_save {
    width: 37px;
    height: 37px;
    padding-right: 0px;
    background-color: transparent;
    border: 2px solid #3faf6f;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.header .div_icon_save.active {
    background: #bde2cc;
    animation: to_save .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.div_icon_config {
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #0c4150;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


@keyframes to_save {
    0% {
        background: transparent;
    }
    100% {
        background: #3faf6f;
    }
}

.header .div_icon_save img {
    width: 1.5em;
    height: 1.5em;
}

/* -- img user -- */

.header .img_user {
    border-radius: 50%;
}

/* --- main --- */

/* - checkbox - */

.label_checkbox {
    display: felx;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.label_checkbox .div_wrapper {
    display: inline-block;
    width: .9em;
    height: .9em;
    position: relative;
}

.label_checkbox .span_checkbox {
    position: absolute;
    top: 2px;
    left: 1px;
    right: 1px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #3f97af;
}

.label_checkbox .span_checkbox::before {
    position: absolute;
    content: '';
    width: 151%;
    height: 145%;
    top: -2px;
    left: 1px;
    right: 1px;
    bottom: 0px;
    left: -2.5px;
    bottom:  2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    background-color: transparent;
    transition: all .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.label_checkbox .check_task:checked + .span_checkbox::before {
    background-color: #fff;
    border: 2.2px solid #868686;
}

.label_checkbox .span_name {
    padding-left: .3rem;
    transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.label_checkbox .span_name.removed {
    text-decoration: line-through;
    color: #868686;
}


.label_checkbox .check_task {
    opacity: 0;
    display: none;
}

/* - btn e input add_task - */

.div_add_task {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.div_add_task .div_btn_close {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #3f97af;
    border-radius: 100%;
    margin: 0 0 0 .5em;
    padding: .65em;
    box-sizing: border-box;
    cursor: pointer;
}

.div_add_task .div_btn_add {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #3f97af;
    border-radius: 50%;
    margin: 0 -3.5rem 0 0;
    padding: .8em;
    box-sizing: border-box;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.div_add_task .div_icon_config {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 -4rem 0 0;
    padding: .8em;
    box-sizing: border-box;
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}



.div_add_task .div_icon_config.active {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #0c4150;
    border-radius: 100%;
    margin: 0 0 0 .5em;
    padding: 1em;
    box-sizing: border-box;
}

.div_add_task .div_btn_add.active {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #3f97af;
    border-radius: 100%;
    margin: 0 0 0 .5em;
    padding: .6em;
    box-sizing: border-box;
}

.div_add_task .div_btn_close.active {
    background-color: #ba2d3b;
}

.div_add_task .span_icon_close {
    transform: rotate(45deg);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.div_add_task .span_icon_add.active {
    transform: rotate(45deg);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.div_add_task .span_icon_add.active_add {
    transform: rotate(-225deg);
}

.div_add_task .span_icon_close.active {
    transform: rotate(360deg);
}

.div_add_task .div_wrapper {
    display: flex;
    justify-content: right;
    width: 100%;
    box-sizing: border-box;
    padding-right: 2.2em;
    padding-bottom: .5em;
}

.div_add_task .div_input {
    height: 1px;
    width: 1px;
    display: none;
    overflow: hidden;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    background-color: transparent;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.div_add_task .div_input.active {
    height: auto;
    width: auto;
    display: block;
    overflow: visible;
}

.div_add_task .div_input textarea {
    font-weight: 500;
    background-color: #8ec6d5;
    border-radius: 10px;
    padding-top: 1em;
    height: 5.5rem;
    color: #0c4150;
}

.div_add_task .div_input textarea::placeholder {
    font-weight: 500;
    color: #0c4150;
}

.error_add {
    animation: error_add .5s ease-in-out;
}

@keyframes error_add {
    0% {
        transform: translateX(1.5px);
    }
    25% {
        transform: translateX(-1.6px);
    }
    50% {
        transform: translateX(1.5px);
    }
    75% {
        transform: translateX(-1.6px);
    }
    100% {
        transform: translateX(1.5px);
    }
}

/* -- modal -- */

.modal-content {
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    padding: .5em 2em;
    margin-top: 10%;
}

#title_task {
    color: #444;
    background-color: #fff;
    padding: .5em 1em;
}
#description_task {
    color: #444;
    background-color: #fff;
    padding: .5em 1em;
}

.modal-content .label_checkbox {
    display: felx;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content .label_checkbox .div_wrapper {
    display: inline-block;
    width: .9em;
    height: .9em;
    position: relative;
}

.modal-content .label_checkbox .span_checkbox {
    position: absolute;
    top: 2px;
    left: 1px;
    right: 1px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #3f97af;
}

.modal-content .label_checkbox .span_checkbox::before {
    position: absolute;
    content: '';
    width: 151%;
    height: 145%;
    top: -2px;
    left: 1px;
    right: 1px;
    bottom: 0px;
    left: -2.5px;
    bottom:  2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100%;
    background-color: transparent;
    transition: all .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-content .label_checkbox .check_task:checked + .span_checkbox::before {
    background-color: #fff;
    border: 2.2px solid #868686;
}

.modal-content .label_checkbox .span_name {
    padding-left: .3rem;
    transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-content .label_checkbox .span_name.removed {
    text-decoration: line-through;
    color: #868686;
}


.modal-content .label_checkbox .check_task {
    opacity: 0;
    display: none;
}


/* -- logo -- */

.img_logo_empresa {
    display: block;
    margin: 0 auto;
    height: 30px;
}

/* -- footer -- */

.div_wrapper_footer {
    position: fixed;
    bottom: 1em;
    left: 0;
    width: 100%;
}

/* switch */

.switch_box {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
}

.switch_box input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: absolute;
    border-radius: 1em;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f97af;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch:before {
    position: absolute;
    border-radius: 1em;
    content: "";
    height: 1em;
    width: 1em;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch::before {
    background-color: #0c4150;
}

input:checked + .switch:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}

@media screen and (min-width:375px) {
    /* --- .header --- */

    .h2_title {
        padding-left: 0;
        background-color: transparent;
    }   
    .p_title{
        padding-left: 0;
    }

    /* -- img user -- */
    .header .img_user {
        max-width: 90%;
    }
}

@media screen and (min-width:425px) {
    /* --- .header --- */

    /* -- img user -- */
    .header .img_user {
        max-width: 70%;
    }
}

@media screen and (min-width:768px) {
    /* --- .header --- */
    
    /* - title - */
    .header .h2_title {
        font-weight: 800;
        font-size: 1.6em;
        border: none;
        width: 100%;
    }
    
    .header .p_title {
        color: #3f97af;
        font-weight: 500;
        font-size: .9em;
    }

    /* -- img user -- */
    .header .img_user {
        max-width: 50%;
    }
}

.z-1 {
    z-index: 2;
}

.nav_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: block;
    opacity: 0;
    color: #fff;
    animation: box_shadow_reverse .15s ease-in-out;
}

.nav_wrapper.active_function {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 10vw #0c4150, 0 0 0 10vh #0c4150;
    background-color: #0c4150;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    animation: box_shadow .3s ease-in-out;
}

@keyframes box_shadow {
    0% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes box_shadow_reverse {
    0% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.btn-danger {
    border-radius: 30px;
}

