/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.page {
    margin: 2em;
}

.cursor-pointer {
    cursor: pointer;
}

.button-text {
    --background: transparent;
    --background-hover: #fff;
    --background-activated: #88f4be;
    --background-focused: #88f4be;

    --color: dotted

    --border-radius: none;
    --border-color: none;
    --border-style: none;
    --border-width: none;

    --box-shadow: none;

    --ripple-color: deeppink;

    --padding-top: 10px;
    --padding-bottom: 10px;
}

.container {
    padding: 1em;
    width: 75%;
    margin: 0 auto;
}

.bg-transparent {
    background-color: transparent !important;
}